/* импорт шрифта Open+Sans 600 700 800 */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700;800&display=swap");
@font-face {
  font-family: Circular Std Book;
  src: url(/fonts/CircularStd-Book.woff2);
}
@font-face {
  font-family: Circular Std Medium;
  src: url(/fonts/CircularStd-Medium.woff2);
}
a {
  text-decoration: none;
  color: #fff;
}
body {
  background-color: #08101e;
  font-family: "Open Sans";
}
/* -----------------Header -------------------------*/
.header,
.footer {
  background-color: #08101e;
}
.header_wrapper {
  display: flex;
  font-family: "Open Sans", sans-serif;
  max-width: 1146px;
  margin: auto;
  padding: 0 15px;
  background-color: #08101e;
}
.header_logo {
  display: flex;
  align-items: center;
}
.header_text {
  display: flex;
  align-items: center;
  padding: 36px 0px 33px 15px;
  color: #3a68b8;
  font-size: 23px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0em;
}
ul {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header_nav {
  display: flex;
  color: #fff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  align-items: center;
  padding-left: 84px;
}
.header_ul {
  display: flex;
  gap: 40px;
}
li a:hover{
  color: rgb(112, 125, 166);
}
.header_button {
  display: flex;
  align-items: center;
  padding-left: 253px;
}
.header_button1 {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  padding: 15px 30px;
  background-color: #3a68b8;
  border-radius: 5px;
}
/* ---------------------main page1-------------------- */
.main {
  background-color: #020a18;
}
.main_wrapper1 {
  display: flex;
  font-family: "Open Sans", sans-serif;
  max-width: 1146px;
  margin: auto;
  padding: 0 15px;
  background-color: #020a18;
}
.page1 {
  display: flex;
  color: #fff;
}
.page1_left {
  display: flex;
  flex-direction: column;
  max-width: 55%;
}
.page1_text1 {
  display: flex;
  padding-top: 50px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  color: #3a68b8;
}
.page1_text2 {
  display: flex;
  padding-top: 10px;
  font-size: 55px;
  font-weight: 800;
  line-height: 71px;
  letter-spacing: 0em;
}
.page1_text3 {
  padding-top: 40px;
  padding-right: 55px;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  color: gray;
}
.page1_button {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}
.page1_button1 {
  align-self: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  padding: 15px 30px;
  background-color: #3a68b8;
  border-radius: 5px;
}
.page1_button2 {
  display: flex;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  padding: 15px 30px;
  background-color: #3a68b8;
  border-radius: 5px;
  align-items: center;
}
.wv {
  padding-right: 10px;
}

/* .page1_right {
  display: flex;
  max-width: 45%;
}
.page1_right_img{
	position: absolute;
	top: 49px;
	left: 718px;
}
.page1_right_img {
  display: flex;
  position: relative;
  top: 50px;
  left: 104px;
} */

.main_wrapper1_2 {
  display: flex;
  font-family: "Open Sans", sans-serif;
  max-width: 1146px;
  margin: auto;
  padding: 0 15px;
  background-color: #020a18;
}

.firms {
  margin: 138px 0 100px 0;
}
/* ---------------------main page2-1------------------- */
.main2_wrapper {
  display: flex;
  font-family: "Open Sans", sans-serif;
  max-width: 1146px;
  margin: auto;
  padding: 0 15px 130px;
  background-color: #020a18;
}
.page2_left {
  min-width: 50%;
}
.page2_left img {
  width: 100%;
  height: auto;
}
.page2_right {
  flex-direction: column;
}
.page2_text1 {
  padding: 308px 0px 0px 0px;
  color: #fff;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
}
.page2_text2 {
  color: grey;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  padding: 30px 0px 0px 0px;
}
.page2_button {
  display: inline-flex;
  align-self: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  padding: 15px 30px;
  background-color: #3a68b8;
  border-radius: 5px;
  margin-top: 50px;
}
/* -------------------------main page2-2------------------ */
.main2_wrapper2 {
  display: flex;
  font-family: "Open Sans", sans-serif;
  max-width: 1146px;
  margin: auto;
  margin-bottom: 15px;
  padding: 0 15px;
  background-color: #020a18;
  justify-content: space-between;
  overflow: hidden;
}
/* ------------------------------------- */
.main2_block1 {
  display: flex;
  flex-direction: column;
  max-width: 362px;
  border-radius: 10px;
  background: linear-gradient(#08101e, #1c2d4a);
}
.main2_block1_1 {
  padding: 47px 145px;
}
.main2_block1_text1 {
  color: grey;
  font-weight: 700;
  font-size: 25px;
  line-height: 125%;
  text-align: center;
  padding: 0 30px 0 30px;
}
.main2_block1_text2 {
  color: grey;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  padding: 30px 30px 30px 30px;
}
/* ------------------------------------- */
.main2_block2 {
  display: flex;
  flex-direction: column;
  max-width: 362px;
  border-radius: 10px;
  background: linear-gradient(#08101e, #1c2d4a);
}
.main2_block2_1 {
  padding: 30px 132px;
}
.main2_block2_text1 {
  color: grey;
  font-weight: 700;
  font-size: 25px;
  line-height: 125%;
  text-align: center;
  padding: 0 30px 0 30px;
}
.main2_block2_text2 {
  color: grey;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  padding: 30px 30px 30px 30px;
}
/* ------------------------------------- */
.main2_block3 {
  display: flex;
  flex-direction: column;
  max-width: 362px;
  border-radius: 10px;
  background: linear-gradient(#08101e, #1c2d4a);
}
.main2_block3_1 {
  padding: 30px 132px;
}
.main2_block3_text1 {
  color: grey;
  font-weight: 700;
  font-size: 25px;
  line-height: 125%;
  text-align: center;
  padding: 0 30px 0 30px;
}
.main2_block3_text2 {
  color: grey;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  padding: 30px 30px 30px 30px;
}
/* ------------------------------------- */
.main2_block4 {
  display: flex;
  flex-direction: column;
  max-width: 362px;
  border-radius: 10px;
  background: linear-gradient(#08101e, #1c2d4a);
}
.main2_block4_1 {
  padding: 30px 132px;
}
.main2_block4_text1 {
  color: grey;
  font-weight: 700;
  font-size: 25px;
  line-height: 125%;
  text-align: center;
  padding: 0 30px 0 30px;
}
.main2_block4_text2 {
  color: grey;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  padding: 30px 30px 30px 30px;
}
/* ------------------------------------- */
.main2_block5 {
  display: flex;
  flex-direction: column;
  max-width: 362px;
  border-radius: 10px;
  background: linear-gradient(#08101e, #1c2d4a);
}
.main2_block5_1 {
  padding: 30px 132px;
}
.main2_block5_text1 {
  color: grey;
  font-weight: 700;
  font-size: 25px;
  line-height: 125%;
  text-align: center;
  padding: 0 30px 0 30px;
}
.main2_block5_text2 {
  color: grey;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  padding: 30px 30px 30px 30px;
}
/* -------------------------main page3------------------ */
.main3_wrapper {
  display: flex;
  font-family: "Open Sans", sans-serif;
  max-width: 1146px;
  margin: auto;
  padding: 0 15px;
  background-color: #020a18;
}
.page3_left {
  display: flex;
  flex-direction: column;
  max-width: 548px;
  padding-top: 44px;
}
.page3_text1 {
  color: #fff;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  padding-bottom: 20px;
}
.page3_text2 {
  color: gray;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
}
.page3_text2 p {
  margin: 20px 0;
  max-width: 460px;
}
.page3_right {
  display: flex;
}
/* -------------------------footer block 1------------------ */
.footer_wrapper {
  display: flex;
  max-width: 1146px;
  margin: auto;
  padding: 0 15px 146px 15px;
}
.footer_block1 {
  color: #fff;
  max-width: 261px;
}
.footer_block1_img1 {
  padding-top: 77px;
}
.footer_block1_text1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 15.9627px;
  line-height: 22px;
  color: #3a68b8;
  padding-bottom: 10px;
}
.footer_block1_text2 {
  font-family: "Circular Std";
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  color: grey;
  padding-bottom: 37px;
}
.footer_block1_text3 {
  display: flex;
  font-family: "Circular Std";
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 20px;
}
.mail {
  padding-right: 10px;
}
.footer_block1_text4 {
  display: flex;
  font-family: "Circular Std";
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 20px;
}
.phone {
  padding-right: 10px;
}
.footer_block1_text5 {
  display: flex;
  font-family: "Circular Std";
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 20px;
}
.geo {
  padding-right: 10px;
}
/* -------------------------footer block 2------------------ */
.footer_block2,
.footer_block3,
.footer_block4,
.footer_block5 {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  gap: 20px;
  margin-left: 10px;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
}
.footer_block2_text1,
.footer_block3_text1,
.footer_block4_text1,
.footer_block5_text1 {
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 12px;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;
}
.footer_block2_text2,
.footer_block3_text2,
.footer_block4_text2,
.footer_block5_text2 {
  color: grey;
}
.footer_block2_text3,
.footer_block3_text3,
.footer_block4_text3 {
  color: grey;
}
.footer_block2_text4,
.footer_block3_text4,
.footer_block4_text4 {
  color: grey;
}
.footer_block2_text5,
.footer_block3_text5,
.footer_block4_text5 {
  color: grey;
}
.footer_block2_text6,
.footer_block3_text6,
.footer_block4_text6 {
  color: grey;
}
.footer_block2_text7,
.footer_block3_text7,
.footer_block4_text7 {
  color: grey;
}

.footer_block3,
.footer_block4,
.footer_block5 {
  margin-left: 70px;
}
.lang {
  background-color: #08101e;
  color: #fff;
  border: none;
}

/* ---------------------------@media_Header------------------------- */
/* @media (max-width: 1200px) {
  .header_button {
    padding-left: 153px;
  }
  .header_nav {
    padding-left: 30px;
  }
}

@media (max-width: 1050px) {
  .header_button {
    padding-left: 50px;
  }
}
@media (max-width: 940px) {
  .header_button {
    padding-left: 10px;
  }
  .header_nav {
    padding-left: 10px;
  }
  .header_ul {
    gap: 10px;
  }
}
@media (max-width: 760px) {
  .header_button1 {
    white-space: nowrap;
  }
}
@media (max-width: 650px) {
} */
